<div class="top-frame">
    <span class="title"> BULLSHIT </span>
</div>
<section class="home">

    <div class="menu-button join-game" routerLink="/join-game">
        <div class="menu-button-icon">
            <i class="fa fa-gamepad"></i>
        </div>
        <div class="menu-button-text">
            <p class="menu-button-text-main"> Join Game </p>
            <p class="menu-button-text-second"> Join a game by entering its PIN </p>
        </div>
    </div>

    <div class="menu-button create-game" routerLink="/create-game">
        <div class="menu-button-icon">
            <i class="fa fa-plus-square"></i>
        </div>
        <div class="menu-button-text">
            <p class="menu-button-text-main"> Create Game </p>
            <p class="menu-button-text-second"> Set up a new game for you and your friends </p>
        </div>
    </div>

    <div class="menu-button present-game" routerLink="/present-game">
        <div class="menu-button-icon">
            <i class="fa fa-share-square-o"></i>
        </div>
        <div class="menu-button-text">
            <p class="menu-button-text-main"> Present Game </p>
            <p class="menu-button-text-second"> Click here from the device you wish to use as a presenter </p>
        </div>
    </div>

    <div class="menu-button how-to-play" routerLink="/learn">
        <div class="menu-button-icon">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="menu-button-text">
            <p class="menu-button-text-main"> How Do I Play? </p>
            <p class="menu-button-text-second"> Click here to learn the rules </p>
        </div>
    </div>
</section>