<div class="arcade-form learn">
    <div class="title-area">
        <h1 class="title" routerLink="/">Bullshit</h1>
        <h3 class="sub-title">How do I play?</h3>
        <div class="separator">♦</div>
    </div>

    <div class="controls f">
        <p>During this game you will be shown some remarkably strange facts, however the interesting bits are missing.</p>
        <p>Everyone plays with their smartphones and fills in the blanks with the best lies they can come up with, hopefully
            the kind which will fool their friends.</p>
        <p>All the lies will then be displayed including the actual and citated truth. Your goal is to avoid falling for your
            friends bullshit and select the truth.</p>
        <p>If you select the real answer than you are awarded points. You also get points for each friend you fool.</p>
        <br>
        <p>When you ready to start choose the most responsible person in your group and ask him to
            <a routerLink="/create-game">create a new game</a>. </p>
        <p>Everyone else can
            <a routerLink="/join-game">join</a> by entering the game PIN.</p>
        <p>For the best experience we recommend you get your hands on another screen and
            <a routerLink="/present-game">present</a> the game there.</p>
    </div>
</div>