<section class="round-intro">
    <app-game-header></app-game-header>

    <div class="game-main">
        <div class="screen-center">
            <p class="bullshit">
                {{points.bullshit}} points
                <br>
                for everyone you bullshit
            </p>
            <p class="truth">
                {{points.truth}} points
                <br>
                for finding the truth
            </p>
        </div>
    </div>

    <app-game-footer></app-game-footer>
</section>