.game-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgba(0,0,0,.15);
    padding: 0 20px;

    .pin,
    .text {
        letter-spacing: 1px;
    }

    &.presenter {
        height: 120px;
    }

    .registration {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .registration .url,
    .registration .game-pin {
        font-size: 2rem;
    }

    .game-header-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pin {
        margin-left: 10px;
    }
}