<div class="game-header" [style.visibility]="loading ? 'hidden' : 'visible'" [class.presenter]="presenter">
    <span *ngIf="!gameOver && !registration" class="pin"> PIN: {{pin | uppercase}} </span>

    <a *ngIf="gameOver" class="button is-primary is-outlined" routerLink="/">
        <span class="icon" [class.is-medium]="presenter"> <i class="fa fa-home"></i> </span>
    </a>

    <button *ngIf="button" (click)="onClick.next()" class="button is-primary" [class.is-loading]="buttonLoading"> {{button}} </button>

    <span *ngIf="text" class="text"> {{text | uppercase}} </span>

    <span *ngIf="registration && presenter" class="registration"> Join at bullshit.wtf with Game PIN: {{pin | uppercase}} </span>
</div>