<div class="arcade-form" *ngIf="!hide">
    <form (submit)="submit()" novalidate>

        <div class="title-area">
            <h1 class="title" routerLink="/">Bullshit</h1>
            <h3 class="sub-title">Enter a game PIN</h3>
            <div class="separator">♦</div>
        </div>

        <div class="controls-wrapper">
            <div class="controls">
                <p class="control">
                    <input class="input is-medium pin-input" type="text" placeholder="Game PIN" [(ngModel)]="pin" name="pin" appAutofocus>
                </p>

                <button class="button is-primary is-medium is-fullwidth" type="submit" [disabled]="!pin" [class.is-loading]="loading">PRESENT</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="hide" class="screen-center">
    <div class="loader"> </div>
</div>
