.revael-the-truth {
    .creators {
        margin-top: 30px;
    }

    .answer {
        margin: 20px 0;
    }

    .answer .button {
        height: 100%;
        white-space: normal;
    }

    .selectors,
    .creators {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 70px;
    }

    .selector,
    .creator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .selector img,
    .creator img {
        height: 40px;
        width: 40px;
    }

    .creator.truth img {
        width: 100%;
    }

    .selector:not(:last-child),
    .creator:not(:last-child) {
        margin-right: 15px;
    }

    .points-top {
        position: absolute;
        top: -20px;
        color: hsl(141, 71%, 48%);
    }

    .points-bottom {
        position: absolute;
        bottom: -35px;
        color: hsl(141, 71%, 48%);
    }

    .points-bottom.negative {
        color: hsl(348, 100%, 61%);
    }
}