<section class="revael-the-truth">
    <app-game-header></app-game-header>

    <div class="game-main">
        <div *ngIf="!game" class="screen-center">
            <div class="loader"> </div>
        </div>

        <div *ngIf="game" class="scene">
            <div class="creators">
                <div class="creator" [class.truth]="displayAnswers[displayIndex].truth" *ngFor="let creator of displayAnswers[displayIndex].createdByUser">
                    <img [src]="'/assets/' + creator.picture">
                    <span *ngIf="presenter || displayAnswers[displayIndex].createdByUser.length < 4"> {{ creator.name }} </span>
                </div>
                <p *ngIf="!displayAnswers[displayIndex].truth && !displayAnswers[displayIndex].houseLie && displayAnswers[displayIndex].points" class="points-top"> {{ displayAnswers[displayIndex].points | bsPoints }} </p>
            </div>

            <p class="control answer">
                <button type="submit" class="button is-info is-fullwidth" [class.rtl]="game.currentQuestion.rtl">
                    {{displayAnswers[displayIndex].text | uppercase}}
                </button>
            </p>

            <div class="selectors">
                <div class="selector" *ngFor="let selector of displayAnswers[displayIndex].selectedByUser">
                    <img [src]="'/assets/' + selector.picture">
                    <span *ngIf="presenter || displayAnswers[displayIndex].selectedByUser.length < 4"> {{ selector.name }} </span>
                </div>
                <p *ngIf="(displayAnswers[displayIndex].truth || displayAnswers[displayIndex].houseLie) && displayAnswers[displayIndex].points" class="points-bottom" [class.negative]="displayAnswers[displayIndex].houseLie">
                    {{ displayAnswers[displayIndex].points | bsPoints }}
                </p>
            </div>
        </div>
    </div>

    <app-game-footer *ngIf="!presenter"></app-game-footer>
</section>