<section class="show-answers">
    <app-game-header></app-game-header>
    <progress *ngIf="game" class="progress is-primary" [value]="elapsedTime" [max]="game.selectAnswerTime"></progress>

    <div class="game-main">
        <div *ngIf="!game" class="screen-center">
            <div class="loader"> </div>
        </div>

        <div *ngIf="game && !answerSelected">
            <div *ngFor="let answer of displayAnswers">
                <p class="control">
                    <button class="button is-primary is-fullwidth answer" (click)="submit(answer.text)" [disabled]="loading">
                        {{ answer.text | uppercase }}
                    </button>
                </p>
            </div>

            <p class="control">
                <button *ngIf="!showQuestion" class="button is-info is-fullwidth" (click)="showQuestion = true">WHAT WAS THE QUESTION AGAIN?</button>
            </p>

            <!-- TODO: [style.direction]="game.currentQuestion.direction" -->
            <p *ngIf="showQuestion" class="question"> {{game.currentQuestion.questionText | bsQuestion}} </p>
        </div>

        <div *ngIf="answerSelected" class="screen-center">
            Let's wait for your friends
        </div>

        <div class="notification is-danger" *ngIf="errorMsg"> {{errorMsg}} </div>
    </div>

    <app-game-footer></app-game-footer>
</section>