.game-footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgba(0,0,0,.15);
    padding: 10px 10px;

    .name,
    .score {
        letter-spacing: 1px;
    }
}