<section class="game-staging">
    <app-game-header *ngIf="showStartButton" [button]="'START'" [buttonLoading]="loading" (onClick)="startGame()"></app-game-header>
    <app-game-header *ngIf="!showStartButton"></app-game-header>

    <div class="notification is-danger" *ngIf="errorMsg"> {{errorMsg}} </div>

    <div class="game-main">
         <div *ngIf="!players" class="screen-center">
            <div class="loader"> </div>
        </div>

        <div class="spacer is-hidden-mobile"> </div>

        <div class="columns is-mobile is-multiline">
            <div *ngFor="let player of players; let i = index" class="player column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                <img [src]="'/assets/avatar' + i + '.png'" class="picture">
                <span> {{player.nickname}} </span>
            </div>
        </div>

         <div *ngIf="players && !players.length" class="screen-center waiting-for-players">
            Waiting for players..
        </div>
    </div>

    <app-game-footer *ngIf="!presenter"></app-game-footer>
</section>