$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;
$tv: 1919px;

// mobile
@media screen and (max-width: $tablet - 1px) {
    html {
        font-size: 14px;
    }
}

// tablet
@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    html {
        font-size: 18px;
    }
}

// desktop
@media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
    html {
        font-size: 22px;
    }
}

// widescreen
@media screen and (min-width: $widescreen) and (max-width: $tv - 1px) {
    html {
        font-size: 32px;
    }

    .arcade-form {
        font-size: 22px;
    }
}

// tv
@media screen and (min-width: $tv) {
    html {
        font-size: 38px;
    }

    .arcade-form {
        font-size: 22px;
    }
}