<section class="game-container show-question">
    <app-game-header></app-game-header>
    <progress *ngIf="question && past && duration" class="progress" [class.is-primary]="duration - past >= 5000" [class.is-danger]="duration - past < 5000"
        [value]="past" [max]="duration"></progress>

    <div class="game-main">
        <div *ngIf="!question" class="screen-center">
            <div class="loader"> </div>
        </div>

        <div *ngIf="question && presenter" class="screen-center">
            <p class="question" [class.rtl]="rtl"> {{question | bsQuestion}} </p>
        </div>

        <form *ngIf="question && !questionSubmitted && !presenter" (submit)="submit()">
            <p class="question" [class.rtl]="rtl"> {{question | bsQuestion}} </p>

            <p class="control">
                <input class="input" [class.is-danger]="enteredCorrectAnswer" [class.rtl]="rtl" type="text" name="answer" [(ngModel)]="answer"
                    maxlength="40" autofocus autocomplete="off">
                <span *ngIf="enteredCorrectAnswer" class="help is-danger">You entered the correct answer! Try something else</span>
            </p>

            <p class="control">
                <button type="submit" class="button is-primary is-fullwidth" [class.is-loading]="loading" [disabled]="!answer">SEND</button>
            </p>
        </form>

        <div *ngIf="questionSubmitted" class="screen-center">
            Your answer has been submitted
        </div>

        <div class="notification is-danger" *ngIf="errorMsg"> {{errorMsg}} </div>
    </div>

    <app-game-footer *ngIf="!presenter"></app-game-footer>
</section>