.wait-for-mail {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    opacity: 0.8;

    .email-icon {
        font-size: 128px;
        color: #bbbbbb;
    }
}