<div class="arcade-form create-game">
    <form (submit)="submit()" novalidate>

        <div class="title-area">
            <h1 class="title" routerLink="/">Bullshit</h1>
            <h3 class="sub-title">Create new game</h3>
            <div class="separator">♦</div>
        </div>

        <div class="controls">
            <label>Language:</label>
            <p class="control">
                <label class="radio vertical">
                <input type="radio" name="language" [value]="'en'" [(ngModel)]="language">
                English
            </label>
                <label class="radio vertical">
                <input type="radio" name="language" [value]="'he'" [(ngModel)]="language">
                Hebrew
            </label>
            </p>

            <label>Length:</label>
            <p class="control">
                <label class="radio vertical">
                <input type="radio" name="length" [value]="5" [(ngModel)]="length">
                5 questions
            </label>
                <label class="radio vertical">
                <input type="radio" name="length" [value]="7" [(ngModel)]="length">
                7 questions
            </label>
                <label class="radio vertical">
                <input type="radio" name="length" [value]="9" [(ngModel)]="length">
                9 questions
            </label>
            </p>

            <div class="notification is-danger" *ngIf="errorMsg"> {{errorMsg}} </div>
        </div>

        <p class="control action">
            <button class="button is-primary is-medium is-fullwidth" type="submit" [class.is-loading]="loading">CREATE</button>
        </p>
    </form>
</div>