.main-columns {
    justify-content: center;
    margin-top: 60px;
}

.menu-button {
    transition: .5s;
    border: 1px solid #f1f2f3;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    color: #fff;
    background-color: #db7151;
    opacity: 0.9;

    &:hover {
        box-shadow: 0 0 36px rgba(0,0,0,0.3);
        cursor: pointer;
    }

    i {
        font-size: 2rem;
        margin-bottom: 10px;
    }
}
