<div class="arcade-form create-game">
    <div class="title-area">
        <h1 class="title">Bullshit</h1>
        <h3 class="sub-title">Because the truth is overrated</h3>
        <div class="separator">♦</div>
    </div>

    <div class="columns main-columns">
        <div class="column is-half">

            <div class="columns">
                <div class="column">
                    <div class="menu-button" routerLink="/join-game">
                        <i class="fa fa-gamepad"></i>
                        <p>Join</p>
                    </div>
                </div>

                <div class="column">
                    <div class="menu-button" routerLink="/create-game">
                        <i class="fa fa-plus-square"></i>
                        <p>Create</p>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="menu-button" routerLink="/present-game">
                        <i class="fa fa-share-square-o"></i>
                        <p>Present</p>
                    </div>
                </div>

                <div class="column">
                    <div class="menu-button" routerLink="/learn">
                        <i class="fa fa-graduation-cap"></i>
                        <p>Learn</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
