<section class="game-staging">
    <app-game-header *ngIf="leader" [button]="'START'" [buttonLoading]="loading" (onClick)="startGame()"></app-game-header>
    <app-game-header *ngIf="!leader"></app-game-header>

    <div class="notification is-danger" *ngIf="errorMsg"> {{errorMsg}} </div>

    <div class="game-main">
         <div *ngIf="!players" class="screen-center">
            <div class="loader"> </div>
        </div>

        <div class="spacer is-hidden-mobile"> </div>

        <div *ngIf="players" class="columns is-mobile is-multiline">
            <div *ngFor="let player of players" class="player column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                <img [src]="'/assets/avatar' + player.order + '.png'" class="picture">
                <span> {{player.name}} </span>
            </div>
        </div>

         <div *ngIf="game && !players.length" class="screen-center waiting-for-players">
            Waiting for players..
        </div>
    </div>

    <app-game-footer *ngIf="!presenter"></app-game-footer>
</section>