/* You can add global styles to this file, and also import other style files */

$primary: #db7151;
$info: #f3d467;
$success: #97374e;
$warning: hsl(48, 100%, 67%);
$danger: hsl(348, 100%, 61%);
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);

$family-primary: 'Luckiest Guy', 'Bangers', cursive;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/other.sass";

.button.is-fullwidth {
    display: block;
}

.button {
    line-height: 2.285em;
}

.progress {
    border-radius: 0;
    position: absolute;
}

.notification.is-danger {
    margin: 10px 0;
}

@import "arcade-form";

.game-main {
    height: calc(100vh - 100px);
    overflow: hidden;
    padding: 20px;
}

.screen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}